*.class

# Package files
*.jar
*.war
*.ear

# Eclipse specific
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
*.cfg
*.properties

# Android specific
gen/

## Allow DB Library to be included
!postgresql-9.1-903.jdbc4.jar
